<footer class="newsletter-footer">
  <div class="footer-container">
    <div class="upperText">
      <h1 class="title">Stay in Touch</h1>
      <div class="contenedorTitulo">
        <h5>TO CLEAR YOUR DOUBTS</h5>
        <p class="subtitle">kicks@company.co</p>
        <button class="contact-button">Only Mon - Fri 8:00 AM - 6:00 PM</button>
      </div>
    </div>
    <div class="downText">
      <div class="socials">
        <p class="subtitle">FOLLOW US</p>
        <div class="line"></div>
        <div class="containerRRSS">
          <a href="#">Instagram</a>
          <a href="#">Twitter</a>
          <a href="#">LinkedIn</a>
        </div>
      </div>

      <form class="newsletter-form">
        <div class="question">
          <div class="line"></div>
          <div class="contentQuestion">
            <h4 class="inputQuestion">name</h4>
            <input type="text" placeholder="Tu nombre" required />
          </div>
        </div>
        <div class="question">
          <div class="line"></div>
          <div class="contentQuestion">
            <h4 class="inputQuestion">email</h4>
            <input type="email" placeholder="Tu email" required />
          </div>
        </div>
        <div class="question">
          <div class="line"></div>
          <div class="contentQuestion">
            <h4 class="inputQuestion">Context</h4>
            <input type="text" placeholder="Tu context" required />
          </div>
        </div>
        <div class="question">
          <div class="line"></div>
          <div class="contentQuestion">
            <h4 class="inputQuestion">Would you like to receive our newsletter?</h4>
            <input type="checkbox" required />
          </div>
        </div>
        <div class="question">
          <div class="line"></div>
          <input type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </div>
</footer>
