<footer class="newsletter-footer">
  <div class="footer-container">
    <div class="upperText">
      <h1 class="title">Stay in Touch</h1>
      <div class="contenedorTitulo">
        <h5>TO CLEAR YOUR DOUBTS</h5>
        <p class="subtitle">kicks@company.co</p>
        <button class="contact-button">Only Mon - Fri 8:00 AM - 6:00 PM</button>
      </div>
    </div>
    <div class="downText">
      <div class="socials">
        <p class="subtitle">FOLLOW US</p>
        <div class="line"></div>
        <div class="containerRRSS">
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a>
        </div>
      </div>

      <form class="newsletter-form">
                <div class="line"></div>

        <input type="text" placeholder="Tu nombre" required />
        <input type="email" placeholder="Tu email" required />

        <button type="submit">Suscribirme</button>
      </form>
    </div>
  </div>
</footer>
