.newsletter-footer {
  width: 100%;
  height: 100vh; /* ocupa toda la pantalla */
  background-color: #1be02b;
  display: flex;
  align-items: center;
  justify-content: center;
}
:host {
  display: block;
  height: 100vh;   /* 👈 ocupa toda la pantalla */
  width: 100%;
  background: #000;
  color: white;
}
.upperText{
  display:flex;
}
.footer-container {
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 3.5rem;


  color: black;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 30px;
  color: black;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.newsletter-form input {
  padding: 12px;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  font-size: 1rem;
}

.newsletter-form button {
  margin-top: 10px;
  padding: 12px;
  border: none;
  background: black;
  color: #1be02b;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter-form button:hover {
  background: #111;
}

.socials {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socials a {
   text-decoration: none;
   color: black;
   font-weight: 500;
}

.downText {
   font-family: 'Nunito Sans', sans-serif;
}
