<div class="admin-container">

  <h1 class="admin-title">Gestión de productos</h1>


  <div class="search-bar">
    <input
      type="text"
      placeholder="Buscar producto..."
      [(ngModel)]="searchTerm"
      class="search-input"
    />
  </div>

  <div class="layout">

    <div class="products-section">

      <div class="products-list">

        <div
          class="product-card"
          *ngFor="let product of filteredProducts"
          (click)="openEditPanel(product)"
          [class.active]="selectedProduct?.id === product.id"
        >

          <img [src]="product.image_url" class="product-image" />

          <div class="product-main">
            <h3>{{ product.name }}</h3>
            <span class="price">{{ product.price }}€</span>
          </div>

          <button class="delete-mini" (click)="confirmDelete(product); $event.stopPropagation()">
            ✕
          </button>

        </div>

      </div>

    </div>

    <div class="product-panel" [class.open]="selectedProduct">

      <div class="panel-card large">

        <h2>Editar producto</h2>

         <img *ngIf="selectedProduct?.image_url" [src]="selectedProduct?.image_url" class="panel-image">

        <form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="saveProduct()">
          <input formControlName="name" placeholder="Nombre" class="input-field">
          <input formControlName="price" type="number" placeholder="Precio" class="input-field">
          <input formControlName="stock" type="number" placeholder="Stock" class="input-field">
          <input formControlName="brand" placeholder="Marca" class="input-field">
          <input formControlName="category_id" placeholder="Categoria" class="input-field">
          <input formControlName="sizes" placeholder="Tallas" class="input-field">
          <input formControlName="image_url" placeholder="Imagen URL" class="input-field">
          <textarea formControlName="description" placeholder="Descripción" class="input-field textarea"></textarea>

          <button type="submit" class="save-btn" [disabled]="editForm.invalid">Guardar</button>
          <button type="button" class="delete-btn" (click)="confirmDelete(selectedProduct)">Eliminar</button>
        </form>

      </div>

    </div>

    <div class="product-panel create-panel" [class.open]="isCreating">

      <div class="panel-card large">

        <h2>Crear producto</h2>

        <form *ngIf="createForm" [formGroup]="createForm" (ngSubmit)="createProduct()">
          <input formControlName="name" placeholder="Nombre" class="input-field">
          <input formControlName="price" type="number" placeholder="Precio" class="input-field">
          <input formControlName="stock" type="number" placeholder="Stock" class="input-field">
          <input formControlName="brand" placeholder="Marca" class="input-field">
          <input formControlName="category_id" placeholder="Categoria" class="input-field">
          <input formControlName="sizes" placeholder="Tallas" class="input-field">
          <input formControlName="image_url" placeholder="Imagen URL" class="input-field">
          <textarea formControlName="description" placeholder="Descripción" class="input-field textarea"></textarea>

          <button type="submit" class="save-btn" [disabled]="createForm.invalid">Crear producto</button>
        </form>

      </div>

    </div>

  </div>

</div>
