.hero {
  position: relative;
  height: 100vh;
  background: rgb(39, 39, 39);
}

canvas {
  position: absolute;
  right: 0;
  top: 0;
}

.text {
  position: absolute;
  left: 10%;
  top: 40%;
  color: white;
}
